<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add Rectangle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/my-style.css">
</head>
<body>
<h1>Add Your Rectangle</h1>
<form action="viewNewRectangle" method="post">
    <label>Length</label><br/>
    <input type="text" name="length"
           required placeholder="Enter length"
           pattern="^([1-9]|[1-9][0-9]|[1-9][0-9][0-9]|[1-9][0-9][0-9][0-9]|[1-9][0-9][0-9][0-9][0-9])$"
           oninvalid="this.setCustomValidity('Enter integer between 1 and 99,999')"
           oninput="this.setCustomValidity('')"/> <br/>
    <label>Width</label><br/>
    <input type="text" name="width"
           pattern="^([1-9]|[1-9][0-9]|[1-9][0-9][0-9]|[1-9][0-9][0-9][0-9]|[1-9][0-9][0-9][0-9][0-9])$"
           placeholder="Enter width"
           oninvalid="this.setCustomValidity('Enter integer between 1 and 99,999')"
           oninput="this.setCustomValidity('')"/> <br/>
    <label>Color</label><br/>
    <select name="color">
        <option value="White"></option>
        <option value="Blanched Almond">Blanched Almond</option>
        <option value="Burly Wood">Burly Wood</option>
        <option value="Corn Silk">Corn Silk</option>
        <option value="Dark Sea Green">Dark Sea Green</option>
        <option value="Deep Sky Blue">Deep Sky Blue</option>
        <option value="Firebrick">Firebrick</option>
        <option value="Floral White">Floral White</option>
        <option value="Honeydew">Honeydew</option>
        <option value="Ivory">Ivory</option>
        <option value="Lavender Blush">Lavender Blush</option>
        <option value="Lemon Chiffon">Lemon Chiffon</option>
        <option value="Light Coral">Light Coral</option>
        <option value="Linen">Linen</option>
        <option value="Mint Cream">Mint Cream</option>
        <option value="Misty Rose">Misty Rose</option>
        <option value="Old Lace">Old Lace</option>
        <option value="Papaya Whip">Papaya Whip</option>
        <option value="Plum">Plum</option>
        <option value="Thistle">Thistle</option>
        <option value="Tomato">Tomato</option>
        <option value="Wheat">Wheat</option>
        <option value="White Smoke">White Smoke</option>
    </select>
    <br/>
    <br/>
    <button class="form-submit-button" type="submit">Add</button>
</form>

<br/>
<a href="/">Home</a>

</body>
</html>