<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Area of a Rectangle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/my-style.css">
</head>
<body>
<h1>Area</h1>
<h3>Leaving width blank will provide the area of a square.</h3>
<form th:action="${action}" method="post">
    <label>Length</label><br/>
    <input type="text" name="length" required placeholder="Enter length"
           oninvalid="this.setCustomValidity('Enter length here')"
           oninput="this.setCustomValidity('')" /> <br/>

    <label>Width</label><br/>
    <input type="text" name="width" placeholder="Enter width" /> <br/>
    <label>Unit</label><br/>
    <input type="text" name="unit" required placeholder="Enter unit" /> <br/>
    <br/>
    <button class="form-submit-button" type="submit">Submit</button>
</form>

<br/>
<a href="/">Home</a>

</body>
</html>