* {
    font-family: "Caveat";
    text-align: center;
    font-size: 28px;
 }

 .form-submit-button {
 background: white;
 border-style: outset;
 border-color: black;
 border-radius: 25px;
 height: 50px;
 width: 100px;
 text-shadow: none;
 }

 #shape {
   width: 250px;
   /* height: 100px; */
   outline-style: dotted;
   outline-color: black;
   margin-left: auto;
   margin-right: auto;
 }

  .form-submit-button:hover {
     background-color: black;
     color: white;
  }

 a:hover, a:active {
   background-color: black;
   color: white;
 }

 a {
   text-decoration: none;
   margin: 0 -.25rem;
   padding: 0 .4rem;
   color: black;
   transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
 }

h2 {
    display: inline-block;
    font-size: 48px;
    padding-top: 25px;
    }

  h1 {
     text-align: center;
     color: dark-gray;
     font-family: "Caveat";
     font-size: 60px;
  }





